<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avadh.houseratings.houseratings.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.avadh.houseratings.houseratings.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avadh.houseratings.houseratings.app.AddHouseActivity"
            android:label="@string/title_activity_add_house" >
        </activity>
        <activity
            android:name="com.avadh.houseratings.houseratings.app.ViewHouses"
            android:label="@string/title_activity_view_houses" >
        </activity>
    </application>

</manifest>
